/* css reset */
a,body,div,embed,h1,header,html,iframe,img,li,p,span,ul{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* fonts */
@font-face {
  font-family: 'typicons';
  src: url("fonts/typicons.eot");
  src: url("fonts/typicons.eot?#iefix") format('embedded-opentype'),
       url("fonts/typicons.woff") format('woff'),
       url("fonts/typicons.ttf") format('truetype'),
       url("fonts/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* variables */
$playerWidth: 793px;
$sidebarWidth: 300px;
$appWidth: $playerWidth + $sidebarWidth;
$highlight: #f67d0c;
$break-mini: 500px;
$break-small: 900px;
$break-mobile-portrait: 320px;
$break-large: 1300px;
/* styles */
* {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
body {
  font-family: 'Open Sans', sans-serif;
  background: #f1f1f1;
  color: #fff;
}
img {
  width: 100%;
  height: auto;
  color: green;
}
input {
  width: 30px;
  height: 25px;
}
.editable {
  border-bottom: 1px dotted #fff;
}
.highlight {
  color: $highlight;
}
.search {
  display: none;
}
.app {
  margin: 10px auto;
  width: 100%;
  max-width: 1170px;
  @media screen and (min-width: $break-small) {
    width: 90%;
    margin: 60px auto;
  }
}
  header {
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: $break-mini) {
      text-align: left;
    }

    h1 {
      text-align: center;
      font-size: 2em;
      color: #000;
      margin-bottom: 20px;
      display: inline;
      vertical-align: middle;
    }

    .logo {
      display: inline;
      vertical-align: middle;
      width: 10%;
      margin: 0 10px;
      max-width: 80px;
      min-width: 55px;
    }

  }

  .app-wrapper {
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    overflow: hidden;
    height: 100%;
    opacity: 0;

    &.active {
      opacity: 1;
      transition: all 350ms ease;
      transition-delay: 500ms;
    }
  }
  .player-container {
    padding: 0;
    margin-bottom: 20px;
    @media screen and (min-width: $break-small) {
      margin: 0;
      padding: 20px;
      background: #fff;
      float: left;
      width: $playerWidth / $appWidth * 100%;
    }
  }
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .sidebar {
    width: 90%;
    margin: 0 auto;
    @media screen and (min-width: $break-small) {
      float: left;
      width: $sidebarWidth / $appWidth * 100%;
    }
  }
    .more-videos {
      background: #42474d;
      padding: 5px 5px 5px 10px;
      @media screen and (min-width: $break-small) {
        display: none;
      }
    }
    .controls {
      display: none;
      @media screen and (min-width: $break-small) {
        display: block;
        background: #42474d;
        height: 30px;
        padding-left: 10px;
      }

      li {
        display: inline;
        font-size: 1.1em;
        line-height: 30px;
        &.position {
          float: right;
          margin-right: 10px;
        }
        &.typcn:hover {
          cursor: pointer;
          color: $highlight;
          transition: all 200ms ease;
        }
      }
    }
    .video-list-container {
      width: 100%;
      // height: 434px;
      overflow: hidden;
    }
      .video-list {
        list-style: none;
        background: #2f3438;
        height: 100%;
        overflow: hidden;
        @media screen and (min-width: $break-small) {
          padding: 20px;
          height: 450px;
        }

        li {
          position: relative;
          line-height: 0;

          &:hover {
            cursor: pointer;
          }

          p {
            position: absolute;
            bottom: 0;
            left: 0;
            line-height: 1.3;
            z-index: 1;
            font-size: 0.9em;
            padding: 2%;
          }

          &.load-more {
            line-height: 1.3;
            text-align: center;
            border-radius: 5px;
            padding: 10px;
            color: $highlight;
            border: 2px solid $highlight;
            margin: 10px 40px;
            transition: all 200ms ease;
            clear: both;

            &:hover {
              background: $highlight;
              color: #fff;
            }
          }

          &.thumbnail {
            width: 90%;
            margin: 5% auto;
            min-height: 100px;
            display: block;
            @media screen and (min-width: $break-mini) {
              width: 46%;
              float: left;
              margin: 2%;
              font-size: 0.9em;
            }
            @media screen and (min-width: $break-small) {
              width: 90%;
              margin: 0 auto 5% auto;
              float: none;
            }
            @media screen and (min-width: $break-large) {
              font-size: 1em;
            }
            &:hover, &.active {
              .now-playing {
                opacity: 1;
              }
            }
          }
        }
      }
  .now-playing {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background: $highlight;
    opacity: 0;
    transition: opacity 200ms linear;
  }
  .fade-out {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(46%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 46%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 46%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 46%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 46%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    z-index: 0;
  }